.timeline {
  @include clearfix();
  padding: 20px 0;
}

.timeline__left {
  @extend .two-col__left;
  @include respond-min($mobile) {
    padding-right: $padding * 2;
    border-right: 4px solid $primary;
    .timeline__box {
      float: right;
    }
  }
}

.timeline__right {
  @extend .two-col__right;
  @include respond-min($mobile) {
    margin-top: 100px;
    padding-left: $padding * 2;
    .timeline__box {
      float: left;
    }
  }
}

.timeline__box {
  max-width: 300px;
  margin: 20px auto 50px;
  padding: 0 $padding $padding;
  background-color: $white;
  @include border-radius(3px);
}

.timeline__photo {
  position: relative;
  top: -20px;
  display: block;
  margin: 0 auto;
}

.timeline__text {

}