/* BREAKPOINTS */
$desktop: 1000px;
$tablet: 800px;
$mobile: 600px;

$page-width: 1000px;

/* TYPOGRAPHY */



/* COLORS */
$main-color: #3B58FF;
$accent-color: #B43BFF;


/* OTHERS */
$padding: 20px;