/* BREAKPOINTS */
$desktop: 1000px;
$tablet: 800px;
$mobile: 600px;

$page-width: 1000px;

/* TYPOGRAPHY */


/* COLORS */
$primary: #61ffff;
$secondary: #48ff24;
$accent: #ff006a;

$white: #fff;


/* OTHERS */
$padding: 20px;