/* BREAKPOINTS */
$desktop: 1000px;
$tablet: 800px;
$mobile: 600px;


/* TYPOGRAPHY */
@font-face {
    font-family: 'bodonixtregular';
    src: url('../fonts/bodoni/BodoniXT-webfont.eot');
    src: url('../fonts/bodoni/BodoniXT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bodoni/BodoniXT-webfont.woff') format('woff'),
         url('../fonts/bodoni/BodoniXT-webfont.ttf') format('truetype'),
         url('../fonts/bodoni/BodoniXT-webfont.svg#bodonixtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$bodoni: 'bodonixtregular';


/* COLORS */
$primary: #51A5B8;
$secondary: #B7D47B;
$accent: #E75F82;

$white: #fff;
$black: #000;


/* OTHERS */
$page-width: 900px;
$padding: 40px;